{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'}}) }}

        {% if guest.invitedday %}
            <div class="form-group">
                {{ form_label(form.attendingday, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                <div class="col-sm-10 col-lg-10">
                    {{ form_widget(form.attendingday, { 'attr': {'class': 'form-control' } }) }}
                </div>
            </div>
        {% else %}
            {% do form.attendingday.setRendered %}
        {% endif %}
        {% if guest.invitedevening %}
            <div class="form-group">
                {{ form_label(form.attendingevening, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                <div class="col-sm-10 col-lg-10">
                    {{ form_widget(form.attendingevening, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        {% else %}
            {% do form.attendingevening.setRendered %}
        {% endif %}
        <div class="form-group">
            <div class="form-group">
                {{ form_widget(form.saveRSVP, { 'attr': { 'class' : 'col-lg-10 col-lg-offset-2 btn btn-success'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
