{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>My RSVP</h1>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'}}) }}

        {% if app.user.invitedday %}
            <div class="form-group">
                {{ form_label(form.attendingday, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                <div class="col-sm-10 col-lg-10">
                    {{ form_widget(form.attendingday, { 'attr': {'class': 'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.vegetarian, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                <div class="col-sm-10 col-lg-10">
                    {{ form_widget(form.vegetarian, { 'attr': {'class': 'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.dietary, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                <div class="col-sm-10 col-lg-10">
                    {{ form_widget(form.dietary, { 'attr': {'class': 'form-control' } }) }}
                </div>
            </div>
        {% else %}
            {% do form.attendingday.setRendered %}
            {% do form.vegetarian.setRendered %}
        {% endif %}
        {% if app.user.invitedevening or is_granted("ROLE_ADMIN") %}
            <div class="form-group">
                {{ form_label(form.attendingevening, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                <div class="col-sm-10 col-lg-10">
                    {{ form_widget(form.attendingevening, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        {% else %}
            {% do form.attendingevening.setRendered %}
        {% endif %}
        {% if app.user.isMasterGuest or is_granted("ROLE_ADMIN") %}
            <h1>My Guests RSVPs</h1>
            {% for plusone in form.PlusOnes %}
                <h2>{{ plusone.name.vars.value }} {{ plusone.surname.vars.value }}</h2>
                <div class="form-group">
                    {{ form_label(plusone.name, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                    <div class="col-sm-10 col-lg-10">
                        {{ form_widget(plusone.name, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(plusone.surname, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                    <div class="col-sm-10 col-lg-10">
                        {{ form_widget(plusone.surname, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                {% if plusone.attendingday is defined %}
                    <div class="form-group">
                        {{ form_label(plusone.attendingday, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                        <div class="col-sm-10 col-lg-10">
                            {{ form_widget(plusone.attendingday, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(plusone.vegetarian, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                        <div class="col-sm-10 col-lg-10">
                            {{ form_widget(plusone.vegetarian, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(plusone.dietary, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                        <div class="col-sm-10 col-lg-10">
                            {{ form_widget(plusone.dietary, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                {% endif %}
                {% if plusone.attendingevening is defined %}
                    <div class="form-group">
                        {{ form_label(plusone.attendingevening, null, { 'label_attr': {'class': 'col-sm-2 col-lg-2 control-label required'} }) }}
                        <div class="col-sm-10 col-lg-10">
                            {{ form_widget(plusone.attendingevening, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% do form.PlusOnes.setrendered %}
        {% endif %}

        <h1>Room Bookings </h1>
        <p>(For Saturday 5th August, including breakfast on Sunday 6th August)</p>
        <p>Please email us: wedding at melanieandcolin.uk if you wish to place a request to stay additional nights<br/>
            The venue cannot guarantee availability on other nights as there are other weddings taking place for whom
            accommodation has been reserved.
        </p>

        <div class="form-group">
            {# store the prototype on the data-prototype attribute #}
            <div id="rooms-list"
                 data-prototype="{% filter escape %}
                    {% include 'guest/rsvp_room_booking_prototype.html.twig' with { 'item': form.rooms.vars.prototype } %}
                {% endfilter %}"
            >
                {% for room in form.rooms %}
                    {% include 'guest/rsvp_room_booking_prototype.html.twig' with { 'item': room } %}
                {% endfor %}
            </div>

            <button class="col-lg-2 col-lg-offset-2 btn btn-primary" id="add-another-room">Add A Room Booking</button>
        </div>

        <div class="form-group">
            <div class="form-group">
                {{ form_widget(form.saveRSVP, { 'attr': { 'class' : 'col-lg-10 col-lg-offset-2 btn btn-success'}}) }}
            </div>
        </div>
        {% do form.rooms.setrendered %}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/js/rsvp.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
