{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Admin Area</h1>

        <h2>Summary</h2>
        <table class="table">
            <tr>
                <th>Potential Day Guests</th>
                <td>{{ numAttendingDay + numInvitedDayNoRSVP }}</td>
            </tr>
            <tr>
                <th>Potential Evening Guests</th>
                <td>{{ numAttendingEvening + numInvitedEveningNoRSVP }}</td>
            </tr>
            <tr>
                <th>Single Rooms Requested</th>
                <td>{{ singleRooms }}</td>
            </tr>
            <tr>
                <th>Double Rooms Requested</th>
                <td>{{ doubleRooms }}</td>
            </tr>
        </table>

        <h2>Guests</h2>
        <table class="table">
            <tr>
                <th><a href="/admin/guests/show/name">First Name</a></th>
                <th><a href="/admin/guests/show/surname">Surname</a></th>
                <th><a href="/admin/guests/show/email">Guest Email</a></th>
                <th><a href="/admin/guests/show/invitedday/desc">Invited Day ({{ numInvitedDay }})</a></th>
                <th><a href="/admin/guests/show/attendingday/desc">Attending Day ({{ numAttendingDay }})</a></th>
                <th><a href="/admin/guests/show/invitedevening/desc">Invited Evening ({{ numInvitedEvening }})</a></th>
                <th><a href="/admin/guests/show/attendingevening/desc">Attending Evening ({{ numAttendingEvening }})</a>
                </th>
                <th><a href="/admin/guests/show/masterGuest/desc">Master Guest</a></th>
                <th><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></th>
                <th><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></th>
            </tr>
            {% for guest in guests %}
                <tr>
                    <td>{{ guest.name }}</td>
                    <td>{{ guest.surname }}</td>
                    <td>{{ guest.email }}</td>
                    <td>{% if guest.invitedday == false %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if guest.attendingday == true %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% elseif guest.rsvpReceived == false %}
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>{% if guest.invitedevening == false %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if guest.attendingevening == true %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% elseif guest.rsvpReceived == false %}
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>{{ guest.masterguest }}</td>
                    <td>
                        <a href="/admin/rsvp/{{ guest.username }}"><span class="glyphicon glyphicon-edit"
                                                                         aria-hidden="true"></span></a>
                    </td>
                    <td>
                        <form action="/admin/guests/delete/{{ guest.username }}"
                              onsubmit="return confirm('Do you really want to delete {{ guest.name }} {{ guest.surname }}?');">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {{ form_start(form) }}
            <tr>
                <td>{{ form_label(form.name, null, { 'label_attr': {'class': 'sr-only'} }) }}
                    {{ form_widget(form.name, { 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_label(form.surname, null, { 'label_attr': {'class': 'sr-only'} }) }}
                    {{ form_widget(form.surname,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_label(form.email, null, { 'label_attr': {'class': 'sr-only'} }) }}
                    {{ form_widget(form.email,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_label(form.invitedday, null, { 'label_attr': {'class': 'sr-only'} }) }}
                    {{ form_widget(form.invitedday,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_widget(form.attendingday,{ 'attr': { 'class': 'form-control'}}) }}
                    {{ form_label(form.attendingday, null, { 'label_attr': {'class': 'sr-only'} }) }} </td>
                <td>{{ form_widget(form.invitedevening,{ 'attr': { 'class': 'form-control'}}) }}
                    {{ form_label(form.invitedevening, null, { 'label_attr': {'class': 'sr-only'} }) }} </td>
                <td>{{ form_widget(form.attendingevening,{ 'attr': { 'class': 'form-control'}}) }}
                    {{ form_label(form.attendingevening, null, { 'label_attr': {'class': 'sr-only'} }) }} </td>
                <td>{{ form_widget(form.masterguest,{ 'attr': { 'class': 'form-control'}}) }}
                    {{ form_label(form.masterguest, null, { 'label_attr': {'class': 'sr-only'} }) }} </td>
                <td>
                    {{ form_widget(form.saveguest, { 'attr': { 'class' : 'btn btn-success'}}) }}
                </td>

            </tr>
            <tr>
                <td colspan="9">{{ form_errors(form) }}</td>
            </tr>
            {{ form_end(form) }}
        </table>
    </div>
{% endblock %}
