{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Admin Area</h1>

        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Guest Email</th>
                <th>Invited Day ({{ numInvitedDay }})</th>
                <th>Attending Day ({{ numAttendingDay }})</th>
                <th>Invited Evening ({{ numInvitedEvening }})</th>
                <th>Attending Evening ({{ numAttendingEvening }})</th>
                <th>+1s Permitted</th>
                <th><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></th>
            </tr>
            {% for guest in guests %}
                <tr>
                    <td>{{ guest.name }}</td>
                    <td>{{ guest.surname }}</td>
                    <td>{{ guest.email }}</td>
                    <td>{% if guest.invitedday == false %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if guest.attendingday == true %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% elseif guest.rsvpReceived == false %}
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>{% if guest.invitedevening == false %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if guest.attendingevening == true %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% elseif guest.rsvpReceived == false %}
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                        {{ guest.numPlusOnes }}
                    </td>
                    <td>
                        <a href="/admin/guests/edit/{{ guest.username }}"><span class="glyphicon glyphicon-edit"
                                                                                aria-hidden="true"></span></a>
                    </td>
                </tr>
            {% endfor %}
            {{ form_start(form) }}
            <tr>
                <td>{{ form_widget(form.name, { 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_widget(form.surname,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_widget(form.email,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_widget(form.invitedday,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_widget(form.attendingday,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_widget(form.invitedevening,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_widget(form.attendingevening,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>{{ form_widget(form.numplusones,{ 'attr': { 'class': 'form-control'}}) }}</td>
                <td>
                    <button id="submit" type="submit" class="center-block btn btn-success">Add Guest</button>
                </td>

            </tr>
            <tr>
                <td colspan="9">{{ form_errors(form) }}</td>
            </tr>
            {{ form_end(form, {'render_rest': false}) }}
        </table>
    </div>
{% endblock %}
