<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="D7c-xPy30b0cwHN8KptEnWmiikLPrGcI_76RXf8S-BU" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        '../vendor/twitter/bootstrap/dist/css/bootstrap.min.css'
        '@AppBundle/Resources/css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Mel & Colin</a>
                </div>
                <div id="navbar" class="navbar navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/">Home</a></li>
                        <li><a href="/where">Where</a></li>
                        <li><a href="/when">When</a></li>
                    </ul>
                    {% if is_granted("ROLE_USER") %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">{{ app.user.name }} {{ app.user.surname }}
                                    <span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile/edit">Edit Profile</a></li>
                                    <li><a href="/profile/change-password">Change Password</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/guest/rsvp">RSVP</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-right nav navbar-nav">
                            <li class=""><a href="/login">Sign In</a></li>
                        </ul>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <ul class="navbar-right nav navbar-nav">
                            <li><a href="/admin/guests">Admin Guests</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Email Lists<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/admin/emails">All</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/admin/emails/invitedday">Invited Day Guests</a></li>
                                    <li><a href="/admin/emails/invitedevening">Invited Evening Guests</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/admin/emails/attendingday">Attending Day Guests</a></li>
                                    <li><a href="/admin/emails/attendingevening">Attending Evening Guests</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts
    '../vendor/components/jquery/jquery.min.js'
    '../vendor/twitter/bootstrap/dist/js/bootstrap.min.js'
    output='js/compiled/melncolsite.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
{{ render(controller("AppBundle:Footer:footer")) }}
</html>
