{% extends 'base.html.twig' %}

{% block body %}
    <div id="locationcontainer" class="container">
        <div id="carousel-missenden" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-missenden" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-missenden" data-slide-to="1"></li>
                <li data-target="#carousel-missenden" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    {% image '@AppBundle/Resources/images/missenden1.jpg' %}
                    <img src="{{ asset_url }}" alt="Missenden Abbey">
                    {% endimage %}
                </div>
                <div class="item">
                    {% image '@AppBundle/Resources/images/missenden2.jpg' %}
                    <img src="{{ asset_url }}" alt="Missenden Abbey">
                    {% endimage %}
                </div>
                <div class="item">
                    {% image '@AppBundle/Resources/images/missenden3.jpg' %}
                    <img src="{{ asset_url }}" alt="Missenden Abbey">
                    {% endimage %}
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-missenden" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-missenden" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Saturday 5th August 2017</h1>
                <p class="text-center text-warning">Since we are so far in advance of the day. <br/>Times are a guideline and are
                    subject to change</p>
            </div>
        </div>
        {% for time, event in timings %}
            <div class="row">
                <div class="col-lg-6">
                    <p class="text-center">{{ time }}</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-center">{{ event }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
